%footer#primary-footer
	.container
		.row
			.col-md-12
				%img.half-margin-bottom{:width => "151px", :src => "/images/logo-white.svg"}
				%hr
		.row.margin-top
			.col-md-9
				.row
					.col-md
						%p.bold-font.white-text-color
							Contact us
						%ul.list-unstyled.footer-list
							%li
								303.444.444.4444
							%li
								%a{:href=>"mailto:info@birdseedapp.com"}
									info@birdseedapp.com
					.col-md
						%p.bold-font.white-text-color
							Tour
						%ul.list-unstyled.footer-list
							%li
								%a{:href=>"/#why"}
									Why BirdSeed?
							%li
								%a{:href=>"/#tools"}
									Included tools
							%li
								%a{:href=>"/#how-it-works"}
									How it works
					.col-md
						%p.bold-font.white-text-color
							About
						%ul.list-unstyled.footer-list
							%li
								%a{:href=>"/#story"}
									Our story
							%li
								%a{:href=>"/#name"}
									Why the name?
							%li
								%a{:href=>"/#partner"}
									Partner with us
							%li
								%a{:href=>"/about/#blog-featured"}
									Blog
					.col-md
						%p.bold-font.white-text-color
							Legal
						%ul.list-unstyled.footer-list
							%li
								%a{:href=>"#"}
									Terms
							%li
								%a{:href=>"#"}
									Privacy
			.col-md-3
				.row
					.col-md
						%p.body-large.bold-font.white-text-color
							Proudly Built in 
							%br
							Orlando, Florida
						%ul.list-inline.social-font-name.social-list
							%li.list-inline-item
								%a{:href=>"#"}
									f
							%li.list-inline-item
								%a{:href=>"#"}
									i
							%li.list-inline-item
								%a{:href=>"#"}
									l
							%li.list-inline-item
								%a{:href=>"#"}
									x
			


        



