%footer#primary-footer
	.container
		.row
			.col-md-12
				%img.half-margin-bottom{:width => "151px", :src => "/images/logo-white.svg"}
				%hr
		.row.margin-top
			.col-md-9
				.row
					.col-md
						%p.bold-font.white-text-color
							COntact us
						%ul.list-unstyled.footer-list
							%li
								303.444.444.4444
							%li
								%a{:href=>"mailto:info@birdseedapp.com"}
									info@birdseedapp.com
					.col-md
						%p.bold-font.white-text-color
							Sitemap
						%ul.list-unstyled.footer-list
							%li
								%a{:href=>"#"}
									Features
							%li
								%a{:href=>"#"}
									Pricing
							%li
								%a{:href=>"#"}
									About
					.col-md
						%p.bold-font.white-text-color
							Product
						%ul.list-unstyled.footer-list
							%li
								%a{:href=>"#"}
									Why BirdSeed?
							%li
								%a{:href=>"#"}
									Tools
							%li
								%a{:href=>"#"}
									How it Works
					.col-md
						%p.bold-font.white-text-color
							Legal
						%ul.list-unstyled.footer-list
							%li
								%a{:href=>"#"}
									Terms
							%li
								%a{:href=>"#"}
									Privacy
			.col-md-3
				.row
					.col-md
						%p.body-large.bold-font.white-text-color
							Proudly Built in 
							%br
							Orlando, Florida
						%ul.list-inline.social-font-name.social-list
							%li.list-inline-item
								%a{:href=>"#"}
									f
							%li.list-inline-item
								%a{:href=>"#"}
									i
							%li.list-inline-item
								%a{:href=>"#"}
									l
							%li.list-inline-item
								%a{:href=>"#"}
									x
			


        



