%section.main-hero#story
	.container
		.row
			.col-xl-7.col-lg-6.col-md-6.order-md-2
				%img.no-padding-top{:src=>"../images/about-feeder.svg", :width=>"776px"}
			.col-xl-5.col-lg-6.col-md-6.order-md-1
				%h1.double-margin-bottom.bold-font
					Our story
				%h5.body-large.body-font-name
					pellentesque ut faucibus vel, vulputate nec purus. Cras a diam mi. Cras eu tristique nibh, ut mattis erat.
				%p.body-large
					pellentesque ut faucibus vel, vulputate nec purus. Cras a diam mi. Cras eu tristique nibh, ut mattis erat. Aenean vulputate tempus orci, nec venenatis metus sagittis sed. Phasellus ut orci purus. Cras a sollicitudin eros. Phasellus convallis euismod ex nec convallis.
				.double-margin-top
					%a.btn.btn-lg.btn-primary.margin-right{:href=>"#"}
						Get started

%section#name
	.container
		.row
			.col-lg-6.col-md-6
				%img.double-margin-bottom.max-width.padded{:src=>"../images/about-why.png", :width=>"410px"}
			.col-lg-6.col-md-6
				%h2.bold-font.margin-bottom
					Why the name?
				%p.body-large
					pellentesque ut faucibus vel, vulputate nec purus. Cras a diam mi. Cras eu tristique nibh, ut mattis erat. Aenean vulputate tempus orci, nec venenatis metus sagittis sed. Phasellus ut orci purus. Cras a sollicitudin eros. Phasellus convallis euismod ex nec convallis.
				%p.body-large
					pellentesque ut faucibus vel, vulputate nec purus. Cras a diam mi. Cras eu tristique nibh, ut mattis erat. Aenean vulputate tempus orci, nec venenatis metus sagittis sed. Phasellus ut orci purus. Cras a sollicitudin eros. Phasellus convallis euismod ex nec convallis.

%section.primary-light-bg-color#contact
	.container
		.row
			.col-lg-12
				%h1.bold-font.text-center
					Get in touch
				.card.elevation-2
					.card-body
						.padded.no-padding-top.no-padding-bottom
							.row
								.col-md-5
									%p.body-large.bold-font.no-margin-bottom.location-title.regular-font-name
										BirdSeed office
									%p.body-large
										123 place ln
										%br
										Suite 123
										%br
										Orlando, FL 99999
									%p.body-large.no-margin-bottom
										303.334.5544
										%br
										%a{:href=>"mailto:info@birdseedapp.com"}
											info@birdseedapp.com
								.col-md-7
									%img.max-width{:src=>"../images/about-map.png"}

%section#partner
	.container
		.row.justify-content-center
			.col-lg-6.text-center
				%img.max-width.margin-bottom{:src=>"../images/about-partner.svg", :width=>"99px"}
				%h2.bold-font.margin-bottom
					Want to partner up?
				%p.body-large
					Cras eu tristique nibh, ut mattis erat. Aenean vulputate tempus orci, nec venenatis metus sagittis sed. Phasellus ut orci purus. Cras a sollicitudin eros. Phasellus convallis euismod ex nec convallis.
				%a.btn.btn-lg.btn-light.margin-top{:href=>"/contact"}
					Get started

%section#blog-featured
	.container
		.row.text-center.justify-content-center
			.col-lg-8
				%h2.bold-font.margin-bottom
					BirdSpeak
				%p.body-large.light-text-color
					Cras eu tristique nibh, ut mattis erat. Aenean vulputate tempus orci, nec venenatis metus sagittis sed. Phasellus ut orci purus.
		.row.double-margin-top
			-3.times do
				.col-md-4
					.blog-thumb
						%a{:href=>"#"}
							%img.max-width.double-margin-bottom{:src=>"../images/blog-img.png", :width=>"350px"}
						%a{:href=>"#"}
							%p.body-large.bold-font.margin-bottom.regular-font-name
								Video Games Playing With Imagination
						%a.btn.btn-link.no-padding-left.text-left{:href=>"#"}
							Read the article
							%i.material-icons
								arrow_right_alt
		.row.double-margin-top
			.col-lg-12
				.text-center
					%a.btn.btn-lg.btn-primary.margin-right{:href=>"#"}
						Visit the blog


=partial("shared/promo")