.d-none.d-lg-inline.d-md-inline
	#howSlider.carousel.slide.carousel-fade.how-slider{"data-ride" => "carousel", "data-interval"=>"10000"}
		.carousel-inner
			.row
				.col-md-7
					.carousel-item.active
						.img-container
							%img.d-block{:alt => "First slide", :src => "../images/how-it-works-business-hours.png"}
					.carousel-item
						.img-container
							%img.d-block{:alt => "First slide", :src => "../images/how-it-works-business-hours.png"}
					.carousel-item
						.img-container
							%img.d-block{:alt => "First slide", :src => "../images/how-it-works-business-hours.png"}
					.carousel-item
						.img-container
							%img.d-block{:alt => "First slide", :src => "../images/how-it-works-business-hours.png"}
					.carousel-item
						.img-container
							%img.d-block{:alt => "First slide", :src => "../images/how-it-works-business-hours.png"}
					.carousel-item
						.img-container
							%img.d-block{:alt => "First slide", :src => "../images/how-it-works-business-hours.png"}
				.col-md-5
					.carousel-indicators.how-slider-indicators
						.elevation-2.card.how-indicator.active{"data-slide-to" => "0", "data-target" => "#howSlider"}
							%p.body-large.bold-font
								Show welcome message
						.elevation-2.card.how-indicator{"data-slide-to" => "1", "data-target" => "#howSlider"}
							%p.body-large.bold-font
								Set business hours
						.elevation-2.card.how-indicator{"data-slide-to" => "2", "data-target" => "#howSlider"}
							%p.body-large.bold-font
								Choose your tools
						.elevation-2.card.how-indicator{"data-slide-to" => "3", "data-target" => "#howSlider"}
							%p.body-large.bold-font
								Engage live chat
						.elevation-2.card.how-indicator{"data-slide-to" => "4", "data-target" => "#howSlider"}
							%p.body-large.bold-font
								Power up
						.elevation-2.card.how-indicator{"data-slide-to" => "5", "data-target" => "#howSlider"}
							%p.body-large.bold-font
								Download mobile app