.d-md-none
	.container
		.row
			.col-sm
				.text-center.double-margin-bottom
					%h2.text-center.margin-bottom.bold-font
						Powerful tools included
					%p.light-text-color.body-large
						I'm text explaining that you'll get amazing things
				.tool-thumbnail.text-center.double-margin-bottom
					%img.margin-bottom{:src=>"../images/tool-icon-chat.svg", :width=>"73px"}
					%p.regular-font-name.no-margin-bottom.bold-font
						Chat
					%p.light-text-color
						Create Personal Response Expectation for your company.
					%img.d-block.max-width.margin-auto{ :src => "../images/tool-preview-chat.png", :width=>"300px"}
				.tool-thumbnail.text-center.double-margin-bottom
					%img.margin-bottom{:src=>"../images/tool-icon-call.svg", :width=>"73px"}
					%p.regular-font-name.no-margin-bottom.bold-font
						Phone call
					%p.light-text-color
						Create Personal Response Expectation for your company.
					%img.d-block.max-width.margin-auto{ :src => "../images/tool-preview-call.png", :width=>"300px"}
				.tool-thumbnail.text-center.double-margin-bottom
					%img.margin-bottom{:src=>"../images/tool-icon-idea.svg", :width=>"73px"}
					%p.regular-font-name.no-margin-bottom.bold-font
						Knowledge library
					%p.light-text-color
						Create Personal Response Expectation for your company.
					%img.d-block.max-width.margin-auto{ :src => "../images/tool-preview-idea.png", :width=>"300px"}
				.tool-thumbnail.text-center.double-margin-bottom
					%img.margin-bottom{:src=>"../images/tool-icon-event.svg", :width=>"73px"}
					%p.regular-font-name.no-margin-bottom.bold-font
						Schedule event
					%p.light-text-color
						Create Personal Response Expectation for your company.
					%img.d-block.max-width.margin-auto{ :src => "../images/tool-preview-event.png", :width=>"300px"}
				.tool-thumbnail.text-center.double-margin-bottom
					%img.margin-bottom{:src=>"../images/tool-icon-contact.svg", :width=>"73px"}
					%p.regular-font-name.no-margin-bottom.bold-font
						Contact form
					%p.light-text-color
						Create Personal Response Expectation for your company.
					%img.d-block.max-width.margin-auto{ :src => "../images/tool-preview-contact.png", :width=>"300px"}
				.tool-thumbnail.text-center.double-margin-bottom
					%img.margin-bottom{:src=>"../images/tool-icon-test.svg", :width=>"73px"}
					%p.regular-font-name.no-margin-bottom.bold-font
						Client testimonials
					%p.light-text-color
						Create Personal Response Expectation for your company.
					%img.d-block.max-width.margin-auto{ :src => "../images/tool-preview-test.png", :width=>"300px"}
				.tool-thumbnail.text-center.double-margin-bottom
					%img.margin-bottom{:src=>"../images/tool-icon-email.svg", :width=>"73px"}
					%p.regular-font-name.no-margin-bottom.bold-font
						Email capture
					%p.light-text-color
						Create Personal Response Expectation for your company.
					%img.d-block.max-width.margin-auto{ :src => "../images/tool-preview-email.png", :width=>"300px"}
				.tool-thumbnail.text-center.double-margin-bottom
					%img.margin-bottom{:src=>"../images/tool-icon-launch.svg", :width=>"73px"}
					%p.regular-font-name.no-margin-bottom.bold-font
						Link launcher
					%p.light-text-color
						Create Personal Response Expectation for your company.
					%img.d-block.max-width.margin-auto{ :src => "../images/tool-preview-launch.png", :width=>"300px"}