%section.main-hero#intro
	.container
		.row
			.col-xl-6.col-lg-7.col-md-6
				%h1.double-margin-bottom.bold-font
					All-in-one website engagement
				%p.body-large.light-text-color
					Everything you need to fully engage MORE website visitors while they browse - All in one button
				.double-margin-top
					%a.btn.btn-lg.btn-primary.margin-right{:href=>"/pricing"}
						Create free account
					%a.btn.btn-lg.btn-light{:href=>"#"}
						%i.material-icons
							play_arrow
						See it in action
			.col-xl-6.col-lg-5.col-md-6
				%img.padded.no-padding-top{:src=>"../images/home-graphic.png", :width=>"545px"}
%section#why.anchor
	.container
		.row
			.col-lg-12
				%h2.text-center.margin-bottom
					Why you need 
					%span.bold-font
						more 
					than just live chat
				.row.justify-content-center
					.col-lg-6
						%p.text-center.body-large.light-text-color
							Once you realize how many different tools are needed to engage more of your website visitors.
		.row.double-margin-top.why-cards
			.col-md-4
				.card.elevation-2
					.card-body.text-center
						%img.margin-bottom{:src=>"../images/icon-early.svg", :width=>"100px"}
						%p.body-large.bold-font.regular-font-name
							Early stage
						%p.light-text-color
							Based on their stage in the sales cycle AND for all the times outside of regular business hours when you aren’t able to respond real-time!
			.col-md-4
				.card.elevation-2
					.card-body.text-center
						%img.margin-bottom{:src=>"../images/icon-real-time.svg", :width=>"100px"}
						%p.body-large.bold-font.regular-font-name
							Real time avalibility
						%p.light-text-color
							Once you realize how many different tools are needed to engage more of your website visitors, it can be daunting to figure out where to place them
			.col-md-4
				.card.elevation-2
					.card-body.text-center
						%img.margin-bottom{:src=>"../images/icon-personal.svg", :width=>"100px"}
						%p.body-large.bold-font.regular-font-name
							Personal preference
						%p.light-text-color
							That is why we include all of them in one simple button, which can be customized based on your hours of operations.

%section#tools
	=partial('tools-slider')
	=partial('tools-mobile')
	.row
		.col-lg-12
			.text-center.double-margin-top
				%a.btn.btn-lg.btn-primary{:href=>"/pricing"}
					Get started
%section#how-it-works.off-white-bg-color
	.container
		.row.justify-content-center
			.col-lg-6
				%h2.text-center.bold-font
					How it works
				%p.text-center.body-large.light-text-color
					Once you realize how many different tools are needed to engage more of your website visitors.
	.container
		.row
			.col-lg-12
				=partial('how-slider')







=partial("shared/promo")