%section.main-hero
	.container
		.row
			.col-xl-6.col-lg-8
				%h1.double-margin-bottom.bold-font
					All-in-one website engagement
				%p.body-large.light-text-color
					Everything you need to fully engage MORE website visitors while they browse - All in one button
				.double-margin-top
					%a.btn.btn-lg.btn-primary.margin-right{:href=>"#"}
						Create free account
					%a.btn.btn-lg.btn-outline-primary{:href=>"#"}
						Create free account
			.col-xl-6.col-lg-4
				%img.padded.no-padding-top.full-width{:src=>"../images/home-graphic.png", :width=>"565px"}

=partial("shared/promo")